<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= name %></title><% _.forEach(scripts, function (path) { %>
    <script src="<%= path %>"></script><% }); %>
    <script src="<%= noflo %>"></script>
  </head>
  <body>
    <%= content %>
    <script>
      var noflo = require('noflo');
      noflo.graph.loadJSON(require('<%= graphPath %>'), function (graph) {
        graph.baseDir = '/<%= lib %>';
        noflo.createNetwork(graph, function (network) {
          console.log('<%= name %> is running!');
        });
      });
    </script>
  </body>
</html>
