<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= name %></title><% _.forEach(scripts, function (path) { %>
    <script src="<%= path %>"></script><% }); %>
    <script src="<%= noflo %>"></script>
  </head>
  <body>
    <%= content %>
    <script>
      var noflo = require('noflo');
      var loader = new noflo.ComponentLoader('<%= lib %>');
      loader.load('<%= graphPath %>', function (err, instance) {
        if (err) {
          throw err;
        }
        instance.network.on('start', function () {
          console.log('<%= name %> is running!');
        });
        instance.network.on('end', function () {
          console.log('<%= name %> has finished');
        });
        instance.start();
      });
    </script>
  </body>
</html>
