<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../node_modules/mocha/mocha.css">
    <style type="text/css">
      #fixtures {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="mocha"></div>
    <div id="fixtures"><%= fixtures %></div>
    <% _.forEach(scripts, function (path) { %>
    <script src="<%= path %>"></script>
    <% }); %>
    <script src="../node_modules/chai/chai.js"></script>
    <script src="../node_modules/mocha/mocha.js"></script>
    <script>
      if (window.initMochaPhantomJS) {
        window.initMochaPhantomJS();
      }
      mocha.setup('bdd');
    </script>
    <% _.forEach(testfiles, function (path) { %>
    <script src="<%= path %>"></script>
    <% }); %>
    <script>
      mocha.run();
    </script>
  </body>
</html>
